# ignore tmp folders
tmp*/
# and the __pycache__ folder
__pycache__/
__pycache__/*
*.pyc
*.cpython*
# as well as most of the csv's
lattices/all_them_lattices/*
lattices/all_them_means/*
lattice/better_*
*.pickle